@model IEnumerable<TeacherPost>

@{
    ViewData["Title"] = "Posts";
}

<div class="container my-5">
    <h2 class="text-center mb-4">Teacher Posts</h2>
    <div class="flex flex-col gap-4 align-items-center mt-4 flex-wrap m-auto w-[90%]">
        @foreach (var post in Model)
        {
            <div class="custom-post-card">
                @if (!string.IsNullOrEmpty(post.PostPhoto))
                {
                    <div class="img-container">
                        <img src="@post.PostPhoto" alt="post for @post.TeacherName" />
                    </div>
                    <div class="line-vertical"></div>
                }
                <div class="post-body @(!string.IsNullOrEmpty(post.PostPhoto) ? "w-50":"w-100")">
                    <a href="@Url.Action("PostsForTeacher", "Admin", new { teacherId = post.TeacherId })">
                        <h2>@post.TeacherName</h2>
                    </a>
                    <div class="line-horizontal"></div>
                    <p class="post-content">@post.Contents</p>
                    <div class="line-horizontal"></div>
                    <footer>
                        @post.CreatedAt.ToString("MMMM dd, yyyy")
                    </footer>
                </div>
            </div>
        }
    </div>
</div>
